@page "/bankaccounts"
@inject HttpClient Http
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

@rendermode @(new InteractiveServerRenderMode(prerender:false))

<PageTitle>Personal Management - Bank Accounts</PageTitle>
@* 
<br />
<br />
<h2>Bank accounts</h2>
<br />

@if (bankAccounts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Number</th>
                <th>Swift</th>
                <th>Code</th>
                <th>Description</th>
                <th>IBAN</th>
                <th>NIB</th>
                <th>Balance</th>
                <th>OpenDate</th>
                <th>Attachment</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bankAccount in bankAccounts)
            {
                <tr>
                    <td>
                        @if (bankAccount.IsEditing)
                        {
                            <input @bind="bankAccount.Number" class="form-control" />
                        }
                        else
                        {
                            @bankAccount.Number
                        }
                    </td>
                    <td>
                        @if (bankAccount.IsEditing)
                        {
                            <input @bind="bankAccount.Swift" class="form-control" />
                        }
                        else
                        {
                            @bankAccount.Swift
                        }
                    </td>
                    <td>
                        @if (bankAccount.IsEditing)
                        {
                            <input @bind="bankAccount.Code" class="form-control" />
                        }
                        else
                        {
                            @bankAccount.Code
                        }
                    </td>
                    <td>
                        @if (bankAccount.IsEditing)
                        {
                            <input @bind="bankAccount.Description" class="form-control" />
                        }
                        else
                        {
                            @bankAccount.Description
                        }
                    </td>
                    <td>
                        @if (bankAccount.IsEditing)
                        {
                            <input @bind="bankAccount.IBAN" class="form-control" />
                        }
                        else
                        {
                            @bankAccount.IBAN
                        }
                    </td>
                    <td>
                        @if (bankAccount.IsEditing)
                        {
                            <input @bind="bankAccount.NIB" class="form-control" />
                        }
                        else
                        {
                            @bankAccount.NIB
                        }
                    </td>
                    <td>
                        @if (bankAccount.IsEditing)
                        {
                            <input @bind="bankAccount.Balance" class="form-control" />
                        }
                        else
                        {
                            @bankAccount.Balance
                        }
                    </td>
                    <td>
                        @if (bankAccount.IsEditing)
                        {
                            <input @bind="bankAccount.OpenDate" class="form-control" />
                        }
                        else
                        {
                            if (@bankAccount.OpenDate.HasValue)
                                @bankAccount.OpenDate!.Value.ToString("dd-MM-yyyy")
                            else
                                @bankAccount.OpenDate
                        }
                    </td>
                    <td>
                        @if (bankAccount.IsEditing)
                        {
                            if (bankAccount.FileBytes != null && bankAccount.FileBytes.Length > 0)
                            {
                                <a href="@DownloadAttachment(bankAccount)" download="@bankAccount.FileName">Download file</a>
                            }
                            <InputFile id="fileInput" Bind-Value="@bankAccount.File" OnChange="HandleFileSelected" />
                        }
                        else if (bankAccount.FileBytes != null && bankAccount.FileBytes.Length > 0)
                        {
                            <a href="@DownloadAttachment(bankAccount)" download="@bankAccount.FileName">Download file</a>
                        }
                    </td>
                    <td>
                        @if (bankAccount.IsEditing)
                        {
                            <button class="btn btn-success" @onclick="() => Save(bankAccount)">Save</button>
                            <button class="btn btn-secondary" @onclick="() => Cancel(bankAccount)">Cancel</button>
                        }
                        else
                        {
                            <button class="btn btn-primary" @onclick="() => Edit(bankAccount)">Edit</button>
                            <button class="btn btn-danger" @onclick="() => ConfirmDelete(bankAccount.Id)">Delete</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button class="btn btn-primary" @onclick="AddBankAccount">Add</button>
}



@code {
    private List<BankAccountDto> bankAccounts;

    private IFormFile fileUpload;
    int maxFileSizeLimit = 1024 * 1024 * 20;

    protected override async Task OnInitializedAsync()
    {
        bankAccounts = await Http.GetFromJsonAsync<List<BankAccountDto>>("api/BankAccounts");
    }

    string DownloadAttachment(BankAccountDto bankAccount)
    {
        if (bankAccount.FileBytes == null || bankAccount.FileBytes.Length <= 0)
            return string.Empty;

        var dataUrl = $"data:{bankAccount.ContentType};base64,{Convert.ToBase64String(bankAccount.FileBytes)}";
        return dataUrl;
    }

    private async Task HandleFileSelected(InputFileChangeEventArgs e)
    {
        var file = e.File;

        var memoryStream = new MemoryStream();
        await file.OpenReadStream(maxAllowedSize: maxFileSizeLimit).CopyToAsync(memoryStream);

        fileUpload = new FormFile(memoryStream, 0, file.Size, file.Name, file.Name);
    }

    void AddBankAccount()
    {
        var newBankAccount = new BankAccountDto();
        bankAccounts.Add(newBankAccount);

        Edit(newBankAccount);

        StateHasChanged();
    }

    void Edit(BankAccountDto newBankAccount)
    {
        newBankAccount.IsEditing = true;
    }

    async Task Save(BankAccountDto bankAccountDto)
    {
        var formData = new MultipartFormDataContent();
        formData.Add(new StringContent("1".ToString()), "UserId"); //TODO @VS - Change this

        formData.Add(new StringContent(bankAccountDto.Description), "Description");
        formData.Add(new StringContent(bankAccountDto.Code), "Code");
        formData.Add(new StringContent(bankAccountDto.Number), "Number");
        formData.Add(new StringContent(bankAccountDto.Swift), "Swift");
        formData.Add(new StringContent(bankAccountDto.Balance.ToString()), "Balance");
        formData.Add(new StringContent(bankAccountDto.OpenDate.ToString()), "OpenDate");
        formData.Add(new StringContent(bankAccountDto.IBAN.ToString()), "IBAN");
        formData.Add(new StringContent(bankAccountDto.NIB.ToString()), "NIB");

        // Handle file upload
        if (fileUpload != null)
        {
            var stream = new MemoryStream();
            await fileUpload.CopyToAsync(stream);
            stream.Position = 0;
            formData.Add(new StreamContent(stream), "File", fileUpload.FileName);
            formData.Add(new StringContent(fileUpload.FileName), "FileName");
        }

        //new
        if (bankAccountDto.Id == 0)
        {
            var response = await Http.PostAsync("api/BankAccounts", formData);
            bankAccountDto.IsEditing = false;
            StateHasChanged();

            // Refresh the current page
            NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true);
        }
        //update
        else
        {
            formData.Add(new StringContent(bankAccountDto.Id.ToString()), "Id");

            var response = await Http.PutAsync($"api/BankAccounts/{bankAccountDto.Id}", formData);
            bankAccountDto.IsEditing = false;
            StateHasChanged();

            // Refresh the current page
            NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true);
        }
    }

    async Task Cancel(BankAccountDto bankAccountDto)
    {
        bankAccountDto.IsEditing = false;
        bankAccounts = await Http.GetFromJsonAsync<List<BankAccountDto>>("api/BankAccounts");
        StateHasChanged();
    }


    async Task ConfirmDelete(int bankAccountId)
    {
        bool confirmed = await JSRuntime.InvokeAsync<bool>("confirm", new string[] { "Are you sure you want to delete this bank account?" });

        if (confirmed)
        {
            await Delete(bankAccountId);
        }
    }

    async Task Delete(int bankAccountId)
    {
        var response = await Http.DeleteAsync("api/BankAccounts/" + bankAccountId);
        StateHasChanged();
        bankAccounts = await Http.GetFromJsonAsync<List<BankAccountDto>>("api/BankAccounts");
    }

} *@